:root {
    --text-color: white;
    --bg-color: rgba(255, 255, 255, 0.2);
    --border-color: white;
    --bg-url: url(./imgs/bg-mobile.jpg);
    --switch-bg: url(./logos/moon-stars.svg);
}
  
.light {
    --text-color: black;
    --bg-color: rgba(0, 0, 0, 0.5);
    --border-color: black;
    --bg-url: url(./imgs/bg-mobile-light.jpg);
    --switch-bg: url(./logos/sun.svg);
}

body {
    height: 100vh;
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corpo {
    max-width: 100%;
    margin-top: 6rem; 
}

#switch {
    position: relative;
    margin-bottom: 14px;
}

.light #switch button {
    animation: slide-in .4s forwards;
}
  
#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg) no-repeat center;
    border-radius: 50%;
  
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translatey(-50%);

    animation: slide-back.4s;
}

#switch button:hover {
    outline: 8px solid var(--bg-color);
}
  
#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--bg-color);
    border: var(--border-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 999px;
}

.self {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

.selflink {
    color: var(--text-color);
    text-transform: uppercase;
}

.links > a {
    display: block;
    margin: auto;
    margin-bottom: 22px;

    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    max-width: 768px;
    padding: 20px;
    
    text-decoration: none;
    text-align: center;
    transition: 500ms;
}

.links > a:hover {
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
}

.redesociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 32px;
}

.redesociais a {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
}

.redesociais a:hover {
    background-color: var(--bg-color);
    transition: 500ms;
}

ion-icon {
    color: var(--text-color);
    font-size: 40px;
}
  
.rodape {
    text-align: center;
    color: var(--text-color);
    font-size: 14px;
}
  
footer a {
    text-decoration: none;
    color: var(--text-color);
}
  
.heart {
    font-size: 20px;
}

@media (min-width: 700px) {
    :root {
         --bg-url: url(./imgs/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./imgs/bg-desktop-light.jpg);
    }
}


@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0%;
    }
}
  
  
  